{% if linklists[block.settings.menu].links.size > 0 %}
  <div class="footer__menu-block">
    {% if block.settings.show_footer_title %}
      <h2 class="footer__title">
        {{ linklists[block.settings.menu].title }}
      </h2>
    {% endif %}
    <ul class="no-bullets site-footer__linklist">
      {%- for link in linklists[block.settings.menu].links -%}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{% endif %}
